.navbar-nav .dropdown-menu {
    position: absolute;
    float: left;
}

i.fa {
    width: 16px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
}