.navbar-nav .dropdown-menu {
    position: absolute;
    float: left;
}

i.fa {
    width: 16px;
    text-align: center;
}

th.actions {
    width: 270px;
}

td .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

td .actions form {
    margin: 0;
}

td img.img-thumbnail {
    display: block;
    width: 75px;
    max-height: 75px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        position: static;
        float: none;
    }
}